<div class="text-left">
  <h2>{{title}}</h2>
  <p>{{contents}}</p>
  {{!-- blog and author and date created --}}
  <p>Created by {{user.name}} on {{format_date date_created}}</p>

  {{!-- delete button --}}
  {{#if logged_in}}
  <div class="blog-list">
    <div class="col-md-4">
      <button class="btn btn-sm btn-danger" data-id="{{id}}">DELETE</button>
    </div>
    {{else}}
    <p>You need to be logged in to delete your blog post. <a href="/login">Log in</a></p>
    {{/if}}
  </div>


{{!-- update section - update when logged in --}}
{{#if logged_in}}
  <form class="update-blog-form">
    <div class="form-group">
      <label for="update-blog-title">Update Title:</label>
      <input class="form-input" type="text" id="update-blog-title" name="update-blog-title" />
    </div>
    <div class="form-group">
      <label for="update-blog-contents">Update Contents:</label>
      <textarea class="form-input" id="update-blog-contents" name="update-blog-contents"></textarea>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary" id="update-form" data-id="{{id}}">Update Blog</button>
    </div>
  </form>
  {{else}}
    <p>You need to be logged in to update your blog post. <a href="/login">Log in</a></p>
{{/if}}




  {{!-- leave a comment if logged in --}}
  {{#if logged_in}}
  <div class="form">
    <form class="form new-comment-form">
      <div class="form-group">
        <label for="blog-comment">Write a comment:</label>
        <textarea class="form-input" id="blog-comment" name="blog-comment"></textarea>
        <input type="hidden" value="{{id}}" id="blog-id">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Comment</button>
      </div>
    </form>
  </div>
  {{else}}
  <p>You need to be logged in to leave a comment. <a href="/login">Log in</a></p>
  {{/if}}
  <div class="row mb-4">
    <div class="col-md-7">
      <h2>Comments:</h2>
      {{#each comments as |comment| }}
      <div class="row mb-4 blog">
        <div class="col-md-7">
          <p>
            {{comment.comment}}
          </p>
          <p>Created by {{comment.user.name}} on {{format_date comment.date_created}}</p>
        </div>
        <div class="col-md-7">
          <p>
          </p>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>



<script src="/js/blog.js"></script>

<script src="/js/dashboard.js"></script>